@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* font-family: 'Noto Sans JP', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: #fff;
  color: rebeccapurple;
  font-weight: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  color: rebeccapurple;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.info {
  color: rebeccapurple;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}
.toast.success {
  color: green;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}
.toast.error {
  color: red;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}
